* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  padding: .5rem;
  background-image: url('./assets/background.jpg');
  background-size: contain;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#color-palette {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .4rem;
}

.config {
  display: flex;
  justify-content: space-evenly;
  padding: .4rem;
}

#button-random-color, #generate-board, #clear-board {
  background-color: #1e466185;
  border: none;
  padding: .4rem;
  border-radius: 10px;
  width: 31%;
  color: white;
}

#button-random-color:hover, #generate-board:hover, #clear-board:hover {
  background-color: #1e4661;
  cursor: pointer;
  transform: scale(1.1);
}

#board-size {
  width: 31%;
  border: none;
  border-radius: 10px;
  background-color: #1e466185;
  color: white;
}

#board-size:hover {
  background-color: #1e4661;
  cursor: pointer;
  transform: scale(1.1);
}

#clear-board {
  display: block;
}


.color {
  border: 1px solid black;
  border-radius: 30px 10px 30px 10px;
  height: 20px;
  width: 40px;
  display: inline-block;
}

div:nth-child( 1 ) {
  background-color: black;
}

div:nth-child( 2 ) {
  background-color: yellow;
}

div:nth-child( 3 ) {
  background-color: blue;
}

div:nth-child( 4 ) {
  background-color: red;
}

div:nth-child( 5 ) {
  background-color: white;
}

#pixel-board {
  min-width: 100%;
  min-height: 378px;
  background-color: transparent;
}

.inline {
  height: 21px;
  width: 101%;
  display: block;
}

.pixel {
  width: 20px;
  height: 20px;
  border: 1px;
  border-style: solid;
  border-color: black;
  display: inline-block;
}

.selected {
  width: 40px;
  height: 20px;
  border: 1px;
  border-style: solid;
  border-color: black;
  display: inline-block;
}

#title {
  font-size: 3rem;
  font-weight: bold;
}

@media screen and (min-width: 540px){
  #color-palette {
    width: 68%;
  }
  
  .config {
    width: 68%;
  }
}

@media screen and (min-width: 768px){
  #color-palette {
    width: 60%;
  }
  
  .config {
    width: 60%;
  }
}

@media screen and (min-width: 1024px){
  #color-palette {
    width: 40%;
  }
  
  .config {
    width: 40%;
  }
}